:root {
  --main-color: crimson;
  --main-bg-color: white;
  --light-font-color: white;
  --font-color: grey;
  --dark-bg: rgb(28, 29, 32);
}

.signup-page{
  text-align: center;
  color: var(--light-font-color);
  margin-bottom: 0%;
}

.title{
  color: var(--light-font-color);
  font-size: 3em;
}

.signup-bg{
  width: 100%;
  background-size: cover;
  background-repeat:repeat;
  margin-top: 0%;
  position: relative;
  display: flex;
  justify-content: center;

}

.signup-wrapper{
  
  position: absolute;
  flex-direction: column;
  display: flex;
  margin-top: 5%;
  box-shadow: 0px 2px 6px rgb(207, 201, 201);
  width: 27%;
  border-radius: 6px;
  backdrop-filter: blur(8.5px);
-webkit-backdrop-filter: blur(6.5px);
margin-bottom: 5%;

  
}

form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  
}

 label{
  padding: 10px;
  font-size: 1.2em;
  
}

input{
  margin: 5%;
  padding: 15px;
}


.signup-btn{
  padding: 5px 10px;
  width: 180px;
  font-size: 1.2em;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(173, 7, 40);
  color: white;
  transition-duration: 0.4s;
  border: none;
}

.signup-btn:hover{
    background-color: white;
    color: crimson;
    transition-duration: 0.4s;
    transform: scale(1.1);
}


.error-message{
  color: var(--light-font-color);
}

.no-acc{
  color: var(--light-font-color);
  text-decoration: none;
}

.login-link{
  color: var(--light-font-color);
  text-decoration: none;
  margin-bottom: 4%;
}