


.channelCard {
    background-color: lightgray;
    width: 20%;
    margin: 2%;
    
}

.channel-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    
}

.stream-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 3%;
}



.streamCard {
    background-color: red;
    width: 20%;
    margin: 2%;
}