.item{
    background-color: rgba(255, 255, 255, 0.164);
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
    flex-wrap: wrap;
}


.cart-container-box{
    background-color: crimson;
    margin: 10px;
    color: white;
    border-radius: 5px;
    padding: 8px;
    font-size: 1.4em;
}