
:root {
    --main-color: crimson;
    --main-bg-color: white;
    --light-font-color: white;
    --font-color: grey;
    --dark-bg: rgb(28, 29, 32);
  }
  


.profile-wrapper{
    display: flex;
    width: 100%;
    
}


.profile-img{
    border-radius: 50%;
    height: 250px;
    width: 35%;
    margin-top: 20px;
}

.profile-page-title{
    color: var(--font-color);
    margin-top: 3%;

}

aside {
    background-color: white;
    width: 40%;
    margin: 6% 6% 5% 0;
    box-shadow: 0px 2px 10px rgba(231, 222, 222, 0.788);
    border-radius: 10px;
    
}

.profile-container{
   background-color: white;
   width: 60%;
   color: var(--font-color);
   box-shadow: 0px 2px 10px rgba(231, 222, 222, 0.788);
   border-radius: 10px;
   margin: 6% 2% 0 6%;
   padding: 30px;
   margin-bottom: 40%;
}

.prices-container{
    line-height:10px;
    text-align: left;
    margin-left: 5%;
}

.checkout{
    display: flex;
    justify-content: flex-end;
}
.checkout-btn{
    transition-duration: 0.4s;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-right: 10%;
    
}

.checkout-btn:hover{
    border: 1px solid crimson;
    transition-duration: 0.4s;
    transform: scale(1.1);
    background-color: white;
    color: crimson;
}


.edit-btn{
    
    transition-duration: 0.4s;
    
}

.edit-btn:hover{
    border: 1px solid crimson;
    transition-duration: 0.4s;
    transform: scale(1.1);
    background-color: white;
    color: crimson;
}