.header {
  display: flex;
  background-color: rgb(220, 20, 60);
  /* background-color: transparent; */
  width: 100%;
  top: 0;
  flex-direction: row;
  height: 70px;
  z-index: 2;
  position: sticky;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(6.5px);
}

.nav-toggle {
  display: none;
}
.nav-container {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  margin-right: 8%;
  background-color: rgba(165, 7, 38, 0.37);
  height: 50px;
  border-radius: 10px;
  margin-top: 0.7%;
}

.link-style {
  color: white;
  font-size: 1.3em;
  margin: 5px;
  padding: 0;
  align-items: flex-end;
  text-decoration: none;
  transition-duration: 0.4s;
}

.link-style:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}

.logo {
  color: whitesmoke;
  margin-left: 3%;
  font-size: 1.2rem;
  text-decoration: none;
  margin-top: -1%;
  display: block;
}

.logout-btn {
  background-color: transparent;
  border: 2px solid rgb(192, 18, 53);
  border-radius: 5px;
  border: none;
  color: white;
  transition-duration: 0.4s;
}

.logout-btn:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}

.profile-img {
  transition-duration: 0.4s;
}

.profile-img:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 1.2em;
  height: 40px;
  background-color: rgb(173, 7, 40);
  color: white;
  transition-duration: 0.4s;
  border: none;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label span {
  display: none;
}

@media screen and (max-width: 650px) {
  .header {
    background-color: crimson;
    height: 70px;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(6.5px);
  }

  .logo {
    display: flex;
    height: 100%;
    align-items: center;
    margin: auto;
  }

  .nav-container {
    background-color: crimson;
    display: block;
    width: 100%;
    z-index: 2;
    margin-top: 70px;
    padding-top: 3%;
    padding-bottom: 5%;
    position: fixed;
    height: auto;
    border-radius: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 300ms ease-in-out 250ms;
  }

  .test-wrap {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    margin-top: 5px;
    font-size: 1.2rem;
  }

  .nav-toggle:checked ~ nav {
    display: block;
    transform: scale(1, 1);
  }

  .nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    height: 70%;
    display: flex;
    align-items: center;
    background-color: crimson;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }

  .nav-toggle-label span::before {
    bottom: 7px;
  }

  .nav-toggle-label span::after {
    top: 7px;
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 10ms ease-in-out;
  }

  .nav-toggle:checked ~ nav .test-wrap {
    opacity: 1;
    transition: opacity 10ms ease-in-out;
  }

  .nav-toggle:checked ~ nav .profile-img-wrapper {
    opacity: 1;
    transition: opacity 10ms ease-in-out;
  }

  .nav-toggle:checked ~ nav .logout-btn {
    opacity: 1;
    transition: opacity 10ms ease-in-out;
  }

  .link-style {
    color: white;
    padding: 0;
    text-decoration: none;
    display: block;
    width: 60%;
    margin: auto;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    font-size: 1.7em;
    margin-top: 5px;
    transition-duration: 0.7s;
   
  }

  .link-style:hover {
    transition-duration: 0.7s;
    transform: scale(1);
  
  }

  .logout-btn {
    opacity: 0;
    background-color: transparent;
    border: 2px solid rgb(192, 18, 53);
    border-radius: 5px;
    padding-top: 10px;
    font-size: 1.5em;
    border: none;
    color: white;
    transition-duration: 0.4s;
    display: block;
    margin: auto;
  }

  .logout-btn:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
  }

  .profile-img-wrapper {
    margin-top: 20px;
    opacity: 0;
  }

  .profile-img {
    transition-duration: 0.4s;
    display: block;
    margin: auto;

    border-radius: 50%;
  }

  .profile-img:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
  }

  button,
  select {
    padding: 5px 10px;
    min-width: 50px;
    margin: 5px;
    font-size: 1.2em;
    height: 40px;
    background-color: rgb(173, 7, 40);
    color: white;
    transition-duration: 0.4s;
    border: none;
  }
}
