/* src/index.css */
:root {
  --main-color: crimson;
  --main-bg-color: white;
  
}


@font-face {
  font-family: "Cedora-RegularStd";
  src: local("Cedora-RegularStd"),
   url("./fonts/Cedora-RegularStd.otf") format("opentype");
  font-weight: 400;
  }


  body {
    font-family: "Cedora-RegularStd";
    margin:0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-color)
    /* background: linear-gradient(356deg, #f56a6a, #f58585, #f79a9a, #746f6f);
    background-size: 800% 800%;
  
    -webkit-animation: AnimationName 25s ease infinite;
    -moz-animation: AnimationName 25s ease infinite;
    animation: AnimationName 25s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
  } */
  
  }
 











